body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: #4CAF50;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    padding: 20px;
    flex: 1;
    text-align: center;
}

section#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px);
}

#contactForm {
    width: 500px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#contactForm label {
    margin-bottom: 5px;
    font-weight: bold;
}

#contactForm input,
#contactForm textarea {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#contactForm textarea {
    height: 120px;
}

#contactForm button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#contactForm button:hover {
    background-color: #45a049;
}

img {
    max-width: 300px;
    height: auto;
    margin: 10px;
    display: inline-block;
    border: 5px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav #searchForm {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

nav #searchForm input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

nav #searchForm button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

nav #searchForm #clearButton {
    background-color: #f44336;
}

#searchResults img {
    max-width: 200px;
    height: auto;
    margin: 10px;
}